@font-face {
    font-family: 'Avenir-Next', Arial, sans-serif;
    src: url("assets/Avenir Next.ttc");
}
@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;
    src: url("assets/Georgia.ttf");
}
:root{
--bg: #BECCF0;
--brightblue: #3668fe;
--brightblue-hover: #547EFA;
--gray: #909090;
--dark-gray: #4b4b4b;

--off1: #d0ebff;
--off2: #d0f8ff;
--off3: #d0fff3;
--off4: #d0ffe7;
--off5: #d9ffdc;
--off6: #e1ffd0;
--off7: #efffd0;
--off8: #fff8d0;

--on1: #76C4FF;
--on2: #63E1F7;
--on3: #53F3C9;
--on4: #67FCAF;
--on5: #92FF9B;
--on6: #C3FFA0;
--on7: #DEFF9B;
--on8: #FFF098;

}

body{
    
    height: 100vh;
    scale: 85%;
    display: flex;
    align-items: center;
    

    overflow: hidden;
}

#street-lines {
   background-color: var(--bg);
   padding: 15px 0px;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   position: fixed;
   z-index: 0;
   pointer-events: none;
}

.street-rectangle{
    width: 100%;

    height: 24px;
    background: none;
    border-top: 2px solid var(--gray);
    border-bottom: 2px solid var(--gray);
    position: relative;
}

#streets{
    /* border: 1px solid red; */
    width: 100%;
    background-color:none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 28px;
    position: relative;
    /* padding-left: 15px; */
}

.building-label{
    width: 100%;
    background: none;
    display: flex;    
    flex-direction: row;      
    align-items: center;  
    gap: 5px; 
    position: absolute;
    top: 50%;
}
.key.on .building-name {
    opacity: 100;
    transition-duration: .5s;
    animation-duration: 2s;
}
/* .building-name:hover{
    opacity: 100;
    transition-duration: .5s;
    animation-duration: 2s;
} */


.building-square{
    background: var(--dark-gray);
    width: 8px;
    height: 8px;
    z-index: 1000;
}

.building-name{
    color: var(--dark-gray);
    font-family: "Avenir", sans-serif;
    font-size: 12px;
     opacity: 0;

}


.key {
  flex: 1;       
  position: relative;     
  /* transition: background 0.2s; */
}

/* default colors */
.r1 { background: var(--off1); }
.r2 { background: var(--off2); }
.r3 { background: var(--off3); }
.r4 { background: var(--off4); }
.r5 { background: var(--off5); }
.r6 { background: var(--off6); }
.r7 { background: var(--off7); }
.r8 { background: var(--off8); }

.r1.on { background: var(--on1); }
.r2.on { background: var(--on2); }
.r3.on { background: var(--on3); }
.r4.on { background: var(--on4); }
.r5.on { background: var(--on5); } 
.r6.on { background: var(--on6);}
.r7.on { background: var(--on7); }         
.r8.on { background: var(--on8);}

.r1.lit { background: var(--on1); }
.r2.lit { background: var(--on2); }
.r3.lit { background: var(--on3); }
.r4.lit { background: var(--on4); }
.r5.lit { background: var(--on5); } 
.r6.lit { background: var(--on6);}
.r7.lit { background: var(--on7); }         
.r8.lit { background: var(--on8);}




#street-names{
    /* border: 1px solid red; */
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    margin: 10px;
    white-space: nowrap; /*prevents text from wrapping to the next line */
}
.street-name{
    font-family: 'Georgia', serif;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    color: var(--gray);
    text-align: left;
    letter-spacing: 2.8px;
}

#layout{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
}

#piano{
    width: 66%;
    /* border: 2px solid red; */
    flex-direction: row;
    display: flex;
    
}

/*calendar heading*/
h2{
    font-family: 'Avenir', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 2.8px;
    color: black;
    text-transform: uppercase;
}

#calendar{
    width: 34%;
    justify-content: center; /*horizontal center*/
    align-items: center; /*vertical center*/
    display: flex;
    height: 100%;
}

#calendar-box{
    width: 50%;
    height: 90%;
    border: 4px solid var(--gray);
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

#button-box{
    /* border: 2px solid red; */
    width: 80%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.day-column{
    /* border: 1px solid red; */
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--brightblue);
    margin: 5px;

    font-family: 'Avenir', sans-serif;
    font-size: 16px;
    font-weight: 'Regular';
    color: white;

    box-shadow: 4px 4px 0px var(--bg);
    
}

button.deactivated{
    background-color: var(--gray);
    box-shadow: none;
    pointer-events: none;
}

button.deactivated:hover{
    pointer-events: none;
}

button:hover {
    background-color: var(--brightblue-hover);
    transform: translateY(-2px);
}

button.selected {
    background-color: white;
    color: var(--brightblue);
    border: 2px solid var(--brightblue);
}

